<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenue sur Brievents</h1>
    <p>Vous pouvez accéder à l'API de Brievents en utilisant les routes suivantes :</p>
    <ul>
        <li>GET /api/events : Récupérer tous les événements</li>
        <li>POST /api/events : Créer un nouvel événement</li>
    </ul>
    <p>Pour plus d'informations, veuillez consulter la documentation de l'API.</p>
    <a href="https://documenter.getpostman.com/view/27129469/2s93m8z83z">Documentation de l'API</a>
    <a href="https://brievents.vercel.app">Site Brievents</a>
    <a href="https://brievents.vercel.app/events">API Brievents</a>
    <a href="https://brievents.vercel.app/login">API Login</a>
</body>
</html>